@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Poppins:wght@300&family=Roboto:wght@100&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

.sidebar {
    background-color: rgba(202, 197, 197, 0.945);
    width: 400px;
    font-family: 'Baloo Bhai 2', cursive;
    height: 100vh;
    color: white;
    transition: transform 0.3s ease-in;
}

.sidebargo {
    transform: translate(-443px, 0px);
    position: absolute;
}

.sidebar nav {
    padding: 45px;
}

.sidebar nav li {
    list-style: none;
    font-size: 30px;
    padding: 30px 0;
}

.sidebar nav li a {
    text-decoration: none;
    color: black;
}

.main {
    background-color: rgb(111, 100, 100);
    width: 100vw;
}

.container {
    display: flex;
}

.infocontainer {
    /*background-color: rgb(255, 213, 0);*/
    height: 58vh;
    width: 70vw;
    margin: 147px auto;
    display: flex;
    justify-content: space-around;
}

.devpic img {
    width: 70;
    height: 58vh;
    opacity: 0.8;
    position: relative;
}

.devinfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

.devinfo h6 {
    font-size: 20px;
    padding-top: 24px;
    color: white;
    font-weight: bolder;
}

.devinfo h1 {
    color: white;
    font-weight: bolder;
}

.devinfo p {
    color: white;
}

.devinfo p a {
    text-decoration: none;
    color: white;
}

.hello {
    font-size: 60px;
    color: white;
}

.name {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Baloo Bhai 2', cursive;
    color: white;
}

.about {
    font-size: 30px;
    color: white;
}

.moreabout {
    font-size: 20px;
    margin-top: 10px;
    color: white;
}

.button {
    margin-top: 20px;
}

.button button {
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: rgb(5, 5, 231);
    font-weight: bold;
    font-size: 15px;
    margin: 0 3px;
    cursor: pointer;
}

.button button:hover {
    color: rgb(5, 5, 231);
    background-color: white;
}

.contactform {
    font-family: 'Poppins', sans-serif;
    padding-top: 144px;
    padding: 0 34px;
}

.contactform h1 {
    font-family: 'Baloo Bhai 2', cursive;
    text-align: center;
}

.contactform form div {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
}

.contactform form div input {
    width: 26vw;
    border-radius: 5x;
    margin: 6px 0 0 0;
    padding: 3px;
}

#emailHelp {
    font-size: 12px;
    color: midnightblue;
    margin: 0 5px;
    padding: 3px 0 0 0;
}

#form-check {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

#form-check input {
    width: 24px;
    margin: 3px 0;
}

.btn {
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: rgb(5, 5, 231);
    font-weight: bold;
    font-size: 15px;
    margin: 0 3px;
    cursor: pointer;
}

.btn:hover {
    color: rgb(5, 5, 231);
    background-color: white;
}

.blogitem {
    margin: 20px;
    font-family: 'Poppins', sans-serif;
}

.blogitem p {
    font-size: 10px;
    font-family: 'Baloo Bhai 2', cursive;
    color: white;
}

.blogcontainer h1 {
    font-family: 'Poppins', sans-serif;
    margin: 23px;
}

.ham {
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}

.cross {
    margin-left: 250px;
}

.cross img {
    background-color: white;
}

.main h1 {
    text-align: center;
    color: white;
}